<a href="https://colab.research.google.com/github/melquemz/classifica-ao_debaixo_dos_panos/blob/main/classifica%C3%A7ao_debaixo_dos_panos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introdução

In [1]:
porco1 = [1, 1, 0]
porco2 = [1, 1, 0]
porco3 = [1, 1, 0]
cachorro4 = [1, 1, 1]
cachorro5 = [0, 1, 1]
cachorro6 = [0, 1, 1]

dados = [porco1, porco2, porco3, cachorro4, cachorro5, cachorro6]

marcacoes = [1, 1, 1, -1, -1, -1]

misterioso = [1, 1, 1]

from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()

In [2]:
misterioso1 = [1, 1, 1]
misterioso2 = [1, 0, 0]
misterioso3 = [0, 0, 1]
teste = [misterioso1, misterioso2, misterioso3]

modelo.fit(dados, marcacoes)

resultado = modelo.predict(teste)

print(resultado)

[-1  1 -1]

In [3]:
marcacoes_teste = [-1, 1, 1]

diferencas = resultado - marcacoes_teste

acertos = [d for d in diferencas if d == 0]

total_de_acertos = len(acertos)
total_de_elementos = len(teste)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(resultado)
print(diferencas)
print(taxa_de_acerto)

[-1  1 -1]
[ 0  0 -2]
66.66666666666667

#Lendo e utilizando arquivo csv

In [4]:
import pandas as pd

dados = pd.read_csv('acesso.csv')
dados.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [5]:

X = dados.drop('comprou', axis = 1)
Y = dados.comprou


treino_dados = X[:90]
treino_marcacoes = Y[:90]

teste_dados = X[-9:]
teste_marcacoes = Y[-9:]

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

print(resultado)
print(teste_marcacoes)

diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print(taxa_de_acerto)
print(total_de_elementos)

[1 0 0 0 0 0 0 0 0]
90    1
91    0
92    0
93    0
94    0
95    1
96    0
97    0
98    0
Name: comprou, dtype: int64
88.88888888888889
9

#Variavel categorica, classificando buscas

In [6]:
df = pd.read_csv('buscas.csv')
df

     home       busca  logado  comprou
0       0  algoritmos       1        1
1       0        java       0        1
2       1  algoritmos       0        1
3       1        ruby       1        0
4       1        ruby       0        1
..    ...         ...     ...      ...
995     0        ruby       0        0
996     0        ruby       0        1
997     0        java       1        1
998     1  algoritmos       0        1
999     0        ruby       1        0

[1000 rows x 4 columns]

In [7]:
X = df[['home', 'busca', 'logado']]
Y = df['comprou']

Xdummies_df = pd.get_dummies(X)
Ydummies_df = Y

print(Xdummies_df)
print(Ydummies_df)

     home  logado  busca_algoritmos  busca_java  busca_ruby
0       0       1                 1           0           0
1       0       0                 0           1           0
2       1       0                 1           0           0
3       1       1                 0           0           1
4       1       0                 0           0           1
..    ...     ...               ...         ...         ...
995     0       0                 0           0           1
996     0       0                 0           0           1
997     0       1                 0           1           0
998     1       0                 1           0           0
999     0       1                 0           0           1

[1000 rows x 5 columns]
0      1
1      1
2      1
3      0
4      1
      ..
995    0
996    1
997    1
998    1
999    0
Name: comprou, Length: 1000, dtype: int64

In [8]:
X = Xdummies_df.values## pega o dataframe e transforma em array
Y = Ydummies_df.values
X

array([[0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0],
       ...,
       [0, 1, 0, 1, 0],
       [1, 0, 1, 0, 0],
       [0, 1, 0, 0, 1]])

In [9]:
porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

In [10]:
sum(Y)#todos os '1' a somas dele, se um algoritmo chutasse so '1' acertaria 83,2%

832

In [11]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

resultado = modelo.predict(teste_dados)

diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos = len(acertos)
total_de_elementos = len(teste_dados)

taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

print("Taxa de acerto do algoritmo: %f" % taxa_de_acerto)
print(total_de_elementos)

Taxa de acerto do algoritmo: 82.000000
100

In [12]:
acerto_de_um = len(Y[Y==1])
acerto_de_zero = len(Y[Y==0])
taxa_de_acerto_base = 100.0 * max(acerto_de_um, acerto_de_zero) / len(Y)
print("Taxa de acerto base: %f" % taxa_de_acerto_base)

Taxa de acerto base: 83.200000

In [13]:
import pandas as pd
from collections import Counter

# teste inicial: home, busca, logado => comprou
# home, busca
# home, logado
# busca, logado
# busca: 85,71% (7 testes)


df = pd.read_csv('buscas.csv')
#df = pd.read_csv('buscas2.csv')


X_df = df[['home','busca', 'logado']]
Y_df = df['comprou']

Xdummies_df = pd.get_dummies(X_df)
Ydummies_df = Y_df

X = Xdummies_df.values
Y = Ydummies_df.values 

porcentagem_de_treino = 0.8
porcentagem_de_teste = 0.1

tamanho_de_treino = int(porcentagem_de_treino * len(Y))
tamanho_de_teste = int(porcentagem_de_teste * len(Y))
tamanho_de_validacao = len(Y) - tamanho_de_treino - tamanho_de_teste

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

fim_de_teste = tamanho_de_treino + tamanho_de_teste

teste_dados = X[tamanho_de_treino:fim_de_teste]
teste_marcacoes = Y[tamanho_de_treino:fim_de_teste]

validacao_dados = X[fim_de_teste:]
validacao_marcacoes = Y[fim_de_teste:]

def fit_and_predict(nome, modelo, treino_dados, treino_marcacoes, teste_dados, teste_marcacoes):
    modelo.fit(treino_dados, treino_marcacoes)

    resultado = modelo.predict(teste_dados)

    acertos = resultado == teste_marcacoes

    total_de_acertos = sum(acertos)
    total_de_elementos = len(teste_dados)

    taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

    msg = "Taxa de acerto do algoritmo {0}: {1}".format(nome, taxa_de_acerto)

    print(msg)
    return taxa_de_acerto

def teste_real(modelo, validacao_dados, validacao_marcacoes):
    resultado = modelo.predict(validacao_dados)
    acertos = resultado == validacao_marcacoes

    total_de_acertos = sum(acertos)
    total_de_elementos = len(validacao_marcacoes)

    taxa_de_acerto = 100.0 * total_de_acertos / total_de_elementos

    msg = "Taxa de acerto do vencedor entre os dois algoritmos no mundo real: {0}".format(taxa_de_acerto)
    print(msg)

from sklearn.naive_bayes import MultinomialNB
modeloMultinomial = MultinomialNB()
resultadoMultinomial = fit_and_predict("MultinomialNB", modeloMultinomial, treino_dados,
 treino_marcacoes, teste_dados, teste_marcacoes)

from sklearn.ensemble import AdaBoostClassifier
modeloAdaBoost = AdaBoostClassifier()
resultadoAdaBoost = fit_and_predict("AdaBoostClassifier", modeloAdaBoost, treino_dados, 
treino_marcacoes, teste_dados, teste_marcacoes)

if resultadoMultinomial > resultadoAdaBoost:
    vencedor = modeloMultinomial
else:
    vencedor = modeloAdaBoost

teste_real(vencedor, validacao_dados, validacao_marcacoes)

acerto_base = max(Counter(validacao_marcacoes).values())
taxa_de_acerto_base = 100.0 * acerto_base / len(validacao_marcacoes)
print("Taxa de acerto base: %f" % taxa_de_acerto_base)

total_de_elementos = len(validacao_dados)
print("Total de teste: %d" % total_de_elementos)

Taxa de acerto do algoritmo MultinomialNB: 82.0
Taxa de acerto do algoritmo AdaBoostClassifier: 84.0
Taxa de acerto do vencedor entre os dois algoritmos no mundo real: 85.0
Taxa de acerto base: 82.000000
Total de teste: 100

#Contador do python // Algoritmo base

In [18]:
from collections import Counter

uri = 'https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/busca.csv'

dados2 = pd.read_csv(uri)#esses dados iram ter a label(Y) no formato string, 'sim' ou 'nao'

X = dados2[['home', 'busca', 'logado']]
Y = dados2['comprou']

Xdummies_df = pd.get_dummies(X)
Ydummies_df = Y

X = Xdummies_df.values
Y = Ydummies_df.values

porcentagem_treino = 0.9

tamanho_de_treino = int(porcentagem_treino * len(Y))
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:tamanho_de_treino]
treino_marcacoes = Y[:tamanho_de_treino]

teste_dados = X[-tamanho_de_teste:]
teste_marcacoes = Y[-tamanho_de_teste:]

acerto_base = max(Counter(teste_marcacoes).values())## o max vai pegar o valor maximo, seja ela sim ou nao, o counter vai ver quantos sim e nao tem no Y

acerto_de_um = list(teste_marcacoes).count('sim')
acerto_de_zero = list(teste_marcacoes).count('nao')
taxa_de_acerto_base = 100.0 * max(acerto_de_um, acerto_de_zero) / len(teste_marcacoes)
print("Taxa de acerto base: %f" % taxa_de_acerto_base)

Taxa de acerto base: 82.000000